{% extends 'base.html' %}
{% block title %}Seznam aut{% endblock %}
{% block content %}
    <h1>Seznam aut</h1>
    <p><a href="{% url 'pridat_auto' %}">Přidat nové auto</a></p>
    {% if object_list %}
        <table border="1">
            <thead>
                <tr>
                    <th>Název</th>
                    <th>SPZ</th>
                    <th>Pořizovací náklad</th>
                    <th>Měsíční platba</th>
                    <th>Den platby</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                {% for auto in object_list %}
                <tr>
                    <td>{{ auto.nazev }}</td>
                    <td>{{ auto.spz }}</td>
                    <td>
                        {% if auto.porizovaci_naklad %}
                            {{ auto.porizovaci_naklad }} Kč
                        {% else %}-{% endif %}
                    </td>
                    <td>
                        {% if auto.operativni_leasing %}
                            {% if auto.mesicni_platba %}
                                {{ auto.mesicni_platba }} Kč
                            {% else %}-{% endif %}
                        {% else %}-{% endif %}
                    </td>
                    <td>
                        {% if auto.operativni_leasing %}
                            {% if auto.den_splatnosti %}
                                {{ auto.den_splatnosti }}
                            {% else %}-{% endif %}
                        {% else %}-{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'upravit_auto' auto.id %}">Upravit</a> |
                        <a href="{% url 'smazat_auto' auto.id %}">Smazat</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Zatím nemáš žádná auta.</p>
    {% endif %}
{% endblock %}
