{% extends "base.html" %}

{% block content %}
    <h1>Seznam výdajů</h1>

    <p><a href="{% url 'pridat_vydaj' %}">Přidat nový výdaj</a></p>

    {% if vydaje %}
        <table border="1">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Typ</th>
                    <th>Auto</th>
                    <th>Částka</th>
                    <th>Tachometr</th>
                    <th>Množství litrů</th>
                    <th>Cena za litr</th>
                </tr>
            </thead>
            <tbody>
                {% for vydaj in vydaje %}
                <tr>
                    <td>{{ vydaj.datum }}</td>
                    <td>{{ vydaj.typ }}</td>
                    <td>{{ vydaj.auto }}</td>
                    <td>{{ vydaj.castka }} Kč</td>
                    <td>{{ vydaj.tachometr }}</td>
                    <td>{{ vydaj.mnozstvi_litru|default:"-" }}</td>
                    <td>{{ vydaj.cena_za_litr|default:"-" }} Kč</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Zatím nemáš žádné výdaje.</p>
    {% endif %}
{% endblock %}
